html {
    font-size: 16px
}

#body {
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden
}

@media screen and (min-width: 768px),
print {
    #body {
        grid-template: "header header" "nav main" 1fr"nav aside" "footer footer" /276px 1fr;
        display: grid
    }
}

@media screen and (min-width: 1088px) {
    #body {
        grid-template: "header header header" "nav main aside" 1fr"footer footer footer" /276px 1fr 276px;
        display: grid
    }
}

@media screen and (min-width: 1800px) {
    #body {
        grid-template: "header header header header header" ".nav main aside." 1fr"footer footer footer footer footer" /auto 276px 1248px 276px auto
    }
}

#header,
#nav,
#aside,
#footer {
    padding-block: 1rem;
    padding-inline: 1.5rem
}

#header {
    grid-area: header
}

#nav {
    grid-area: nav;
    padding-inline-end: 0
}

#aside {
    grid-area: aside;
    padding-inline: 0
}

#footer {
    grid-area: footer
}

#main {
    min-height: 90vh;
    background-color: var(--theme-body-background);
    padding: 1.5rem;
}

#breadcrumbs-holder {
    grid-area: breadcrumbs;
    align-items: center;
    display: flex
}

#actions-holder {
    grid-area: actions;
    justify-content: flex-end;
    display: flex
}

#article {
    grid-area: article;
    overflow: hidden
}

.example {
    padding: 1rem
}

.example.full-width {
    padding-inline: 0
}

[data-is-full-screened=true] .example.full-width {
    margin-inline: -1.5rem
}

html.debug #header,
html.debug #main,
html.debug #body,
html.debug #nav,
html.debug #aside,
html.debug #footer,
html.debug #breadcrumbs-holder,
html.debug #actions-holder,
html.debug #article {
    outline: 1px solid var(--theme-border)
}

html.debug #header {
    position: relative
}

html.debug #header:after {
    color: #fff;
    content: "header";
    background-color: red;
    border-radius: 1px;
    padding: 4px 8px;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0
}

html.debug #main {
    position: relative
}

html.debug #main:after {
    color: #fff;
    content: "main";
    background-color: red;
    border-radius: 1px;
    padding: 4px 8px;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0
}

html.debug #breadcrumbs-holder {
    position: relative
}

html.debug #breadcrumbs-holder:after {
    color: #fff;
    content: "breadcrumbs-holder";
    background-color: red;
    border-radius: 1px;
    padding: 4px 8px;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0
}

html.debug #actions-holder {
    position: relative
}

html.debug #actions-holder:after {
    color: #fff;
    content: "actions-holder";
    background-color: red;
    border-radius: 1px;
    padding: 4px 8px;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0
}

html.debug #body {
    position: relative
}

html.debug #body:after {
    color: #fff;
    content: "body";
    background-color: red;
    border-radius: 1px;
    padding: 4px 8px;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0
}

html.debug #article {
    position: relative
}

html.debug #article:after {
    color: #fff;
    content: "article";
    background-color: red;
    border-radius: 1px;
    padding: 4px 8px;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0
}

html.debug #nav {
    position: relative
}

html.debug #nav:after {
    color: #fff;
    content: "nav";
    background-color: red;
    border-radius: 1px;
    padding: 4px 8px;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0
}

html.debug #aside {
    position: relative
}

html.debug #aside:after {
    color: #fff;
    content: "aside";
    background-color: red;
    border-radius: 1px;
    padding: 4px 8px;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0
}

html.debug #footer {
    position: relative
}

html.debug #footer:after {
    color: #fff;
    content: "footer";
    background-color: red;
    border-radius: 1px;
    padding: 4px 8px;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0
}

#header {
    grid-template-areas: "header-body header-body header-body header-body header-body";
    display: grid
}

@media screen and (min-width: 1800px) {
    #header {
        grid-template-columns: auto 276px 1248px 276px auto;
        grid-template-areas: ".header-body header-body header-body header-body"
    }
}

#header-body {
    grid-area: header-body
}

@media screen and (min-width: 1800px) {
    #header-body {
        padding-inline: 1.5rem
    }
}

.header-spacer {
    width: 2px;
    height: 100%;
    border-left: 2px solid var(--theme-text-subtle);
    height: 1.5rem;
    margin-left: .5rem;
    margin-right: 1rem;
    display: inline-block
}

.overflow-y-scroll {
    overflow-y: scroll !important
}

.code-block {
    position: relative;
    overflow-x: auto
}

.code-block .code-block-header-filter {
    max-width: 12ch;
    background: var(--theme-body-background-medium);
    border: none;
    flex-shrink: 1;
    margin-right: .5rem;
    padding-block: .125rem;
    padding-inline: .25rem;
    font-size: .75rem
}

.code-block .code-block-header-filter::placeholder {
    color: var(--theme-text-subtle);
    font-size: .75rem
}

.code-block .code-block-header {
    min-height: 2em;
    border: 1px solid var(--theme-border);
    background-color: var(--theme-code-header);
    color: var(--theme-text);
    border-bottom: 0;
    align-items: center;
    font-size: .8em;
    display: flex
}

.code-block .code-block-header .code-block-header-language {
    flex-grow: 1;
    padding: .125em 1em
}

.code-block .code-block-body pre {
    box-sizing: border-box;
    max-width: 100%;
    border: 1px solid var(--theme-border);
    background-color: var(--theme-code-block);
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    tab-size: 4;
    -webkit-hyphens: none;
    hyphens: none;
    -webkit-overflow-scrolling: touch;
    margin: 0;
    padding: 1em;
    font-size: .875rem;
    line-height: 1.3571;
    overflow: auto
}

.code-block .code-block-body pre>code {
    border: 0;
    padding: 0;
    line-height: 1.3571;
    display: block;
    position: relative
}

.code-block .code-block-body pre>code mark {
    min-width: calc(100% + 2em);
    min-height: 18.9px;
    color: var(--theme-text);
    margin: 0 -1em;
    padding: 0 1em;
    display: inline-block
}